doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="../libs/dropzone/downloads/css/dropzone.css")
    script(type="text/javascript", src="../libs/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="../libs/dropzone/downloads/dropzone.min.js")
    script(type="text/javascript", src="../js/app.js")
  body
    block content