extends ../layout

block content
    h1.
        Client #{client._id}
    p Name: #{client.name}
    p Background: #{client.background}
    div#simpleUpload
    div#dropzone
        form#mydropzone.dropzone(action="/upload",)
        
        